.sidebar{
    border: 1px  solid black;
    height: 100vh;
    
    height: 100vh;  
    width: 230px !important;
    background-color: #040404;
    color: white;
    
}
.sidebar_logo {
 height: 64px;
 padding: 10px;
    
}